/* ADD styling for all of the divs in post.html to match  */

#individual-post-title {
  text-align: center;
  font-size: 2em;
  padding-top: 24px;
  padding-bottom: 24px;
}

#individual-post-date {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  color: #adb5bd;
}

#individual-post-content {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.4;
  color: #495957;
}

.navigation > a {
  text-decoration: none;
  color: #004186;
  border: 1px solid #004186;
  border-radius: 5px;
  padding: 5px 8px;
}
